{% extends 'base.html'%}
{% block content %}
<div class="container-fluid">

    <div class="row">
        <div class="col-md-8" id="background_div">
            <!-- Formulario a la izquierda -->
            <div class="container card p-4 rounded">
                <!--img src="{{ url_for('static', filename='website/resources/static/img.png') }}" alt="Logo of the app"-->
                <h2 class="mb-5">Search your best route!</h2> <!-- mb-X aumenta el margen-->

                <form action="" method='POST' name="myform">
                    {{ form.csrf_token }}
                    <div class="mb-3 d-flex align-items-center">
                        {{ form.startdate.label(style="width: 200px")}}
                        {{ form.startdate(class='datepicker', style="width:400px")}} {{ form.hidden_tag() }}
                    </div>
                    <div class="mb-3 d-flex align-items-center">
                        {{ form.destination.label(class="me-2", style="width: 200px") }}
                        {{ form.destination(class="form-select form-control form-control-sm me-2", style="width: 400px", id="id_destination") }}
                    </div>

                    <div class="mb-3 d-flex align-items-center">
                        {{ form.people.label(class="me-2", style="width: 200px") }}
                        {{ form.people(class="form-select form-control form-control-sm me-2", style="width: 400px") }}
                    </div>

                    <div class="mb-3 d-flex align-items-center">
                        {{ form.days.label(class="me-2", style="width: 200px") }}
                        {{ form.days(class="form-select form-control form-control-sm me-2", style="width: 400px") }}
                    </div>

                    <div class="mb-3 d-flex align-items-center">
                        {{ form.type_trip.label(class="me-2", style="width: 200px") }}
                        {{ form.type_trip(class="form-select form-control form-control-sm me-2", style="width: 400px") }}
                    </div>

                    {{ form.submit(class="btn btn-primary") }}
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <!-- Poner mapa a la derecha -->
            <div id="map" style="height: 400px;"></div>
        </div>
    </div>

</div>

<!-- Google -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArNaWIlxGdk1DYTTcXJny2YaeZTMsvUTI&libraries=places&callback=initMap" async defer></script>

<!-- Mapa -->
<script>
    var map;

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 8
        });

        // Actualiza mapa
        function updateMap(destination) {

            var geocoder = new google.maps.Geocoder();
            // Problema para obtener la address -> la destination no se corresponde con lo que necesita geocode, destination es numérica
            geocoder.geocode({'address': destination}, function(results, status) {
                if (status === 'OK') {
                    map.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                } else {
                    alert('Geocode was not successful for the following reason: ' + status + destination);
                }
            });
        }

        // Llama a updateMap cuando cambia la destination
        //var destinationInput = document.querySelector('#id_destination');
        //destinationInput.addEventListener('input', function() {
        //    updateMap(destinationInput.value);
        //});
    }
</script>


{% endblock %}
