{% extends "base.html" %}
{% block titulo %} Detalles de la ruta: {{ ruta.nombre }} {% endblock %}
{% block content %}

<div class="container mt-4">
    <h2>Detalles de la ruta</h2>

    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">Nombre</div>
                <div class="card-body">
                    <h5 class="card-title">{{ ruta.nombre }}</h5>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">Tipo</div>
                <div class="card-body">
                    <p class="card-text">{{ ruta.tipo }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">Ubicación</div>
                <div class="card-body">
                    <p class="card-text">{{ ruta.ubicacion }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">Temperatura</div>
                <div class="card-body">
                    <p class="card-text">{{ ruta.temperatura }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">Valoración</div>
                <div class="card-body">
                    <p class="card-text">{{ ruta.valoracion }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">Tipo de actividad</div>
                <div class="card-body">
                    <p class="card-text">{{ ruta.tipoActividad }}</p>
                </div>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-header">Resumen de Temperaturas</div>
                <div class="card-body">
                    <pre class="card-text">{{ ruta.otros }}</pre>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
