{% extends "base.html" %}
{% block titulo %} Listado de viajes disponibles {% endblock %}
{% block content %}

<h2>Viajes disponibles</h2>
<div class="row">
    <!-- http://librosweb.es/libro/bootstrap_3/capitulo_2/tipos_de_rejillas.html -->
    <!-- Inicio del Bloque -->
    {% if rutas|length > 0 %}
        <table class="table table-hover" id="tableTravels">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Ubicación</th>
                    <th>Temperaturas</th>
                    <th class="col-md-1"></th>
                </tr>
                </thead>
                <tbody>
                    {% for ruta in rutas %}
                            <tr>
                                <td>{{ ruta.nombre }}</td>
                                <td>{{ ruta.tipo }}</td>
                                <td>{{ ruta.ubicacion }}</td>
                                <td>{{ ruta.temperatura }}</td>
                                <td><a href="{{ url_for('travel_details', ruta_id=ruta.id) }}">detalles</a></td>
                                <!--td class="col-md-1">
                            		<a href="#" onclick="showModal('{{ruta.nombre}}','{{ruta.otros}}')">Ver más</a>
                        	    </td-->

                            </tr>
                        {% endfor %}
                </tbody>
        </table>
    {% else %}
        <div>
            <p colspan="4">No hay rutas disponibles</p>
        </div>
    {% endif %}
</div>
<div>
    <h2>Alojamientos disponibles</h2>
    <table class="table table-hover" id="tableAlojamientos">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Valoración</th>
            <th class="col-md-1"></th>
            <th class="col-md-1"></th>
        </tr>
        </thead>
        <tbody>
            {% for alojamiento in alojamientos %}
            <tr>
                <td>{{ alojamiento.nombre }}</td>
                <td>{{ alojamiento.direccion }}</td>
                <td>{{ alojamiento.valoracion }}</td>
                <td class="col-md-1"><a href="#">Detalles</a></td>
                <td class="col-md-1"><a href="#">Reservar</a></td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalles del viaje</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3 id="nombreRuta"></h3>
                <p id="resumen"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>
    // Función para mostrar el modal
    function showModal(rutaNombre, otros) {
        // Enseñar nombre
        var myModal = new bootstrap.Modal(document.getElementById('myModal'));
        document.getElementById('nombreRuta').textContent = rutaNombre;
        document.getElementById('resumen').textContent = otros;
        myModal.show();
    }
</script>
{% endblock %}