{% extends "base.html" %}
{% block titulo %} Listado de viajes disponibles {% endblock %}
{% block content %}

<h2>Viajes disponibles</h2>
<div class="row">
    <!-- http://librosweb.es/libro/bootstrap_3/capitulo_2/tipos_de_rejillas.html -->
    <!-- Inicio del Bloque -->

    <table class="table table-hover" id="tableTravels">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Ubicación</th>
            <th>Temperaturas</th>
            <th>Ver más</th>
            <th class="col-md-1"></th>
            <th class="col-md-1"></th>
        </tr>
        </thead>


    </table>

</div>
{% endblock %}